{% extends 'beres/base.html' %} {% block content %}

<div class="row">

    <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        <p>Beres is a resource that connect users who are interested in learning new topics with the latest and best resources available. This all started when I was learning computer science history. I quickly realized that there wasn't a single place that contained the best resources from around the world. So I sought after a platform that would allow this, and that's why I created Beres. -<strong>Joseph Lane</strong></p>

    </div>
</div>

{% endblock %}
