{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Beres - Find The Best Resources To Your Topics Of Interest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'css/beres.css' %}">

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="/beres">BERES</a>
            </div>


            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="/beres/">Home</a></li>
                    <li><a href="{% url 'beres:about_us' %}">About</a></li>
                    <li><a href="{% url 'beres:contact_us' %}">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'beres:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    {% endif %}
                    
                    {% if request.user.is_authenticated %}
                    
                    <li><a>{{request.user.username}}</a></li>   
                    
                    {% endif %}
                    
                    <li>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'beres:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a> 
                        {% else %}
                            <a href="{% url 'beres:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a> 
                        {% endif %}
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/beres.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>

</html>
