{% extends 'beres/base.html' %} {% block content %}


<div class="row">

    <div class="col-lg-12">
        <h3>Add a New Resource</h3>
    </div>

</div>
<br />
<div class="row"> <div class="col-lg-12">
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
    </div>

</div>

<form action="/beres/{{ topic_id }}/save_resource/" method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col-lg-3">
            <input type="url" class="form-control" name="url" placeholder="URL
" id="id_url" required />
        </div>

    </div>
    <br />
    <div class="row">

        <div class="col-lg-12">
            <label class="radio-inline"><input type="radio" name="free" value="Free">Free</label>
            <label class="radio-inline"><input type="radio" name="free" value="Paid">Paid</label>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <input type="hidden" name="topic_id" value="{{topic_id}}" />
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>


    </div>

</form>

{% endblock %}
