 {% extends 'beres/base.html' %} {% block content %}

<br />
<br />

<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="row">
            <div class="col-lg-12">
                <h1>Registration</h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                {% if registered %} Rango says: <strong>thank you for registering!</strong>
                <a href="/beres/">Return to the homepage.</a><br /> {% else %} {% include 'beres/show_form_errors.html' %} {% endif %}
            </div>
        </div>
        <form id="user_form" method="post" action="{% url 'beres:register' %}" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-12">
                    {% csrf_token %}

                    <input type="text" placeholder="Username" name="id_username" id="id_username" class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-lg-12">
                    <input type="text" placeholder="Email" name="id_email" id="id_email" class="form-control" />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-lg-12">

                    <input type="password" placeholder="Password" name="id_password1" id="id_password1" class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-lg-12">

                    <input type="password" name="id_password2" placeholder="Confirm Password" id="id_password2" class="form-control" />

                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-lg-12">
                    <input type="submit" class="btn btn-success" name="submit" value="Register" />

                </div>
            </div>

        </form>
    </div>


</div>




{% endblock %}
